@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    /* outline: solid 1px red; */
}

.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #333333;
}

.login{
    max-width: 328px;
    width: 100%;
    padding: 8px;
}

.space{
    display: flex;
    justify-content: center;
    padding: 57px 0;
}

.hero-login{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-login h1{
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    color: white;
}

.hero-login h2{
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    color: white;
}

.inp-name {
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

.inp-name input{
    width: 100%;
    background: black;
    padding: 19px;
    border-radius: 15px;
    border: none;
    color: white;
}

.btn-open {
    display: flex;
    justify-content: center;
}

.btn-open button{
    width: 100%;
    height: 46px;
    border-radius: 15px;
    border: none;
    background: #3870FF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn-open button:disabled{
    background: gray;
}

@media screen and (min-width: 834px) {
    .container-login .login{
        display: flex;
        flex-direction: row;
    }

    .heroInputBtnContainer{
        min-width: 330px;
    }

    .login{
        max-width: initial;
        width: initial;
        gap: 42px;
    }
}
 